.vscode
.idea
coverage
junit.xml
npm-debug.log
packages/nativescript-vue-template-compiler/index.js
!docs/dist/
RELEASE_NOTES*.md

/platforms
/hooks
/node_modules
/lib
/debugger
/dist
/app/**/*.map
.DS_Store
**/*.log
tags

ers.txt
